<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Models.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Models.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>answer</servlet-name>
    <servlet-class>Models.answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answer</servlet-name>
    <url-pattern>/answer</url-pattern>
    </servlet-mapping>
    
     <servlet>
    <servlet-name>question</servlet-name>
    <servlet-class>Models.question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>question</servlet-name>
    <url-pattern>/question</url-pattern>
   </servlet-mapping>  
 
  
  <servlet>
    <servlet-name>quiz</servlet-name>
    <servlet-class>Models.quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quiz</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  
 
</web-app>
